img {
  width: 40px;
  height: 40px;
}

yt-live-chat-item-list-renderer {
  background-color: #031d20;
}

#message.yt-live-chat-text-message-renderer {
  color: #82a0a4;
}

#author-name.yt-live-chat-author-chip {
  box-sizing: border-box;
  border-radius: 2px;
  color: #931671;
  font-weight: 500;

}

yt-live-chat-text-message-renderer {
  line-height: 27px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 25px;
}

yt-live-chat-author-chip[is-highlighted] #author-name.owner.yt-live-chat-author-chip, #author-name.owner.yt-live-chat-author-chip {
  font-size: 24px;
}

#author-name.yt-live-chat-author-chip {
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 24px;
}

yt-live-chat-text-message-renderer[author-is-owner] {
  background-color: #031d20;
}

yt-live-chat-author-chip[is-highlighted] #author-name.yt-live-chat-author-chip {
  padding: 0px;
}

yt-live-chat-author-chip[is-highlighted] #author-name.owner.yt-live-chat-author-chip, #author-name.owner.yt-live-chat-author-chip {
  background: transparent;
  font-size: 25px;
  color: #5e2f6a;
}

yt-live-chat-mode-change-message-renderer {
  display: none;

}

#card.yt-live-chat-viewer-engagement-message-renderer {
  display: none;
}

#reaction-control-panel.yt-reaction-control-panel-overlay-view-model {
  display: none;
}
