@import url('https://fonts.googleapis.com/css?family=Butcherman:wght@800&display=swap');


* {
  font-family: 'Butcherman', sans-serif !important;
}

img {
  width: 30px;
  height: 30px;
}

yt-live-chat-item-list-renderer {
  background-color: #1e0f00;
}

#author-name.yt-live-chat-author-chip {
  box-sizing: border-box;
  border-radius: 2px;
  color: #504f6c;
  font-weight: 500;
}

yt-live-chat-text-message-renderer {
  line-height: 30px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 28px;
}

yt-live-chat-author-chip[is-highlighted] #author-name.owner.yt-live-chat-author-chip, #author-name.owner.yt-live-chat-author-chip {
  font-size: 27px;
}

#author-name.yt-live-chat-author-chip {
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 28px;
}

yt-live-chat-text-message-renderer[author-is-owner] {
  background-color: #1e0f00;
}

yt-live-chat-author-chip[is-highlighted] #author-name.yt-live-chat-author-chip {
  padding: 0px;
}

yt-live-chat-author-chip[is-highlighted] #author-name.owner.yt-live-chat-author-chip, #author-name.owner.yt-live-chat-author-chip {
  background: transparent;
  font-size: 28px;
  color: #504f6c;
}

yt-live-chat-mode-change-message-renderer {
  display: none;

}

#card.yt-live-chat-viewer-engagement-message-renderer {
  display: none;
}

#reaction-control-panel.yt-reaction-control-panel-overlay-view-model {
  display: none;
}
