.chat-messages > .message-item:first-child {
  Display: none;
}

.restream-embed-themes-chat-container_lol-compact .message-text {
  color: #1d3f36;
  font-size: 30px;
}

.restream-embed-themes-chat-container_lol-compact .message-sender {
  color: #413415;
  font-family: Exo2-Bold,sans-serif;
  position: relative;
  z-index: 1;
  font-size: 30px;
}